* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}



body {
    position: relative;
    width: 100%;
    height: 100vh;
}

.blog {
    position: relative;
    top: 1px;
}

.mtq {
    position: relative;
    top: 1px;
}

.guide {
    position: relative;
    top: -2px;
}

.events {
    position: relative;
    top: -1px;
}

.am {
    position: relative;
    top: -1px;
}

.logo {
    position: relative;
    top: -28px;
    right: -5px;
}

header {
    display: flex;
    height: 90px;
    background-color: white;
    width: 90%;
}

nav {
    position: relative;
    left: 550px;
    top: -5px;
}

.mainart {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dline {
    position: relative;
    height: 1px;
    top: -12px;

}

footer {
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.8;

}

::-webkit-scrollbar {
    display: none;
}

.footer-text {
    text-decoration: none;
}

.art:hover{
    height: 600px;
}

/*guide article*/

.top10 {
    background-image: url(images/article\ 1\ background.jpg);
    background-repeat: repeat;
    text-align: center;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.guidetext {
    color: white;
    line-height: 1.9;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-shadow: 0px 0px 50px #000000;
}

h2 {
    line-height: 1.8;
    font-weight: 400;
    font-size: 25px;
    font-weight: bold;
}

.summarytexts {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}


.guide-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 280vh;
    width: 80%;
    position: relative;
    right: -205px;
    margin-top: 40px;
    margin-bottom: 60px;
}


.g-card {
    background-image: url(images/guideblocks.jpg);
    background-repeat: repeat;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 80%;
}

.card-text {
    text-align: left;
    padding: 30px;
    width: 60%;
}

.ptext-details {
    color: #000;
    margin-top: 30px;
    font-weight: normal;

}

.htext-details {
    color: black;
    line-height: 2;
    font-weight: bold;
}

.g-card-img {
    max-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 1%;
}

.guide-link:link,
.guide-link:visited {
    color: black;
    text-decoration: none;
}

.guide-link:hover,
.guide-link:active {
    text-decoration: none;
    color: white;
}


/*Events article*/

.upcomingevents {
    background-image: url(images/article2background.jpg);
    background-repeat: no-repeat;
    text-align: center;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 170vh;
    width: 80%;
    position: relative;
    right: -205px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.e-card {
    background-image: url(images/eventsbackg.png.jpg);
    background-repeat: repeat;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 80%;
}

.e-card-img {
    max-width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

}

.event-numbers {
    max-width: 99%;

}
.written{
    color: gray;
}

.written-box{
    
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
left: -45px;
}
.events-link:link,
.events-link:visited {
    background-color: white;
    text-decoration: none;
}

.events-link:hover,
.events-link:active {

    background-color: rgba(255, 255, 255, 0.486);
}

/*meet the queers*/

.meet-the-queerstop {
    background-image: url(images/meet-the-queerstopimage.jpg);
    background-repeat: no-repeat;
    text-align: center;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queer-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 220vh;
    width: 80%;
    position: relative;
    right: -205px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.q-card {
    background-color: white;
    background-repeat: repeat;
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 80%;
}

.q-card-img {
    max-width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.qcard-text {
    text-align: left;
    padding: 50px;
    margin-top: 30px;
    width: 70%;
}

h3,
h4 {
    line-height: 2.0;
    color: rgb(85, 85, 85);

    font-weight: 600;
    word-spacing: 5px;
}

.instagram {
    margin-top: 20px;
    display: flex;
}

.insta-text {
    color: black;
    position: relative;
    right: -10px;

}

.about-me {
    color: black;
    margin-top: 10px;
    font-weight: 600;
}

.instalink:hover,
.instalink:active {
    text-decoration: none;
}