*{
    margin: 0%;
    padding: 0%;
}

body {
    
}

.blog {
    position: relative;
    top: 1px;
}

.mtq{
    position: relative;
    top: 1px;
}
.guide {
    position: relative;
    top: -2px;
}
.events {
    position: relative;
    top: -1px;
}
.am {
    position: relative;
    top: -1px;
}

.logo {
    position: relative;
    top: -28px;
    right: -5px;
}

header {
    display: flex;
    height: 90px;
    background-color: white;
}

nav {
    position: relative;
    left: 550px;
    top: -5px;
}

.mainart {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 660px;
}

.dline {
    position: relative;
    height: 1px;
    top: -12px;
}

.art {
    position: relative;
    left: 345px;
    top: 90px;
}

footer{
 background-image: url(images/footer.jpg);
 background-repeat: no-repeat;
}